body {
    background-color: var(--background);
    font-family: 'Share Tech Mono', monospace;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
}

div.console-output {
    display: flex;
    flex-direction: column;
    align-items: start;
}

span.console-input {
    display: flex;
    flex-direction: row;
}

span.console-input span.pre-text {
    color: var(--accent)
}

span.cursor {
    min-width: 1ch;
    height: 1em;
    background-color: var(--accent);
    animation: blink 1s infinite;
}